html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *:before, *:after {
    /*box-sizing: inherit;*/
}
body {
    background-color: #F6F4F6;
    font-size: 22px;
    color: #515051;
}
.wrapper {
    display: flex;
    justify-content: center;
}
a {
    outline: none;
    text-decoration: none;
    color: #B0AEB0;
}
a:hover {
    text-decoration: none;
    color: #B0AEB0;
}
.todo_list{
    min-height: 70px;
    flex: 0 0 550px;
}
h1 {
    font-size: 72px;
    font-weight: 300;
    color: rgb(231, 215, 217);
    margin: 27px 0;
    text-align: center;
}
.todo_block {
    box-shadow:  0 15px 25px 15px rgb(227, 227, 227);
    background-color: #fff;
}
.input-group {
    box-shadow: 1px 1px 3px rgb(200,200,200);
}
.mb-3 {
    margin: 0 !important;
}


.sort-container {
    width: 50px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort {
    width: 15px;
    height: 13px;
    position: relative;
    overflow: hidden;
    display: none;
}
.sort:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -3px;
    width: 20px;
    height: 20px;
    border: 3px solid #E9E7E9;
    transform: skew(2deg, 2deg) rotate(45deg);
}
.sort_check:before {
    border-color: #515051;
}
.toggleCheck {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
}
.input_task {
    font-size: 22px;
    font-weight: 300;
    padding: 17px 0 17px 10px;
    border: none;
}
.input_task:focus {
    border: none;
    box-shadow: none;
}
.container_info {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.block_info {
    position: relative;
    display: flex;
    font-size: 12px;
    color: #B0AEB0;
    align-items: center;
    box-shadow: 1px 1px 3px rgb(200,200,200);
}
.block_info:after {
    content: '';
    width: calc(100% - 10px);
    margin-left: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    z-index: -1;
    box-shadow: 1px 1px 3px rgb(200,200,200);
}
.block_info:before {
    content: '';
    z-index: -1;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -12px;
    box-shadow: 1px 1px 3px rgb(200,200,200);
}
.info {
    flex: 1 0 33.333%;
    padding: 8px;
}
.info-score {}
.info-score_item {}
.info-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
.btn_info {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid transparent;
    pointer-events: all;
}
.btn_info:hover {
    border: 1px solid #EBEAEB;
}
.active-btn {
    border: 1px solid #E3D4D7;
    border-radius: 3px;
}
.info-clear {
    text-align: right
}
.clear_completed{
    display: none;
}
.btn_clear {}
.btn_clear:hover {
    text-decoration: underline
}
input.input_task::placeholder {
    color: #E9E7E9;
    font-style: italic;
}
input.input_task::-webkit-input-placeholder {color: #E9E7E9;}
input.input_task::-moz-placeholder {color: #E9E7E9;}
input.input_task:-moz-placeholder {color: #E9E7E9;}
input.input_task:-ms-input-placeholder {color: #E9E7E9;}

.new_task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px rgb(200,200,200);
}
.new_task:hover .my-btn-close{
    visibility: visible;
}
.label{
    margin: 10px 10px;
    display: flex;
}
.checkbox{
    display: none;
    align-items: center;
}
.fake-checkbox{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #E3D4D7;
    position: relative;
    pointer-events: none;
}
.fake-checkbox::before {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    height: 22px;
    border-right: 1.5px solid #7FB2A9;
    border-bottom: 2.5px solid #7FB2A9;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%) skew(5deg, 25deg) rotate(30deg);
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake-checkbox::before {
    opacity: 1;
}
.label_text {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 300;
}
.task_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-btn-close {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
    /*overflow: hidden;*/
    visibility: hidden;
}
.my-btn-close:before {
    position: absolute;
    right: 0;
    top: 50%;
    content: '';
    width: 20px;
    height: 1px;
    background-color: #BC9B9B;
    transform: rotate(-45deg);
}
.my-btn-close:after {
    position: absolute;
    right: 0;
    top: 50%;
    content: '';
    width: 20px;
    height: 1px;
    background-color: #BC9B9B;
    transform: rotate(45deg);
}
.my-btn-close:hover:after,
.my-btn-close:hover:before {
    background-color: #9F7078;
}
.completed_task {
    display: block;
}
.completed .label {
    text-decoration: line-through;
    opacity: 0.5;
}

