@charset 'UTF-8';
/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	height: 100vh;
	background-color: rgb(217, 228, 204);
	font-size: 12px;
	color: hsl(240, 6%, 50%);
	line-height: 16px;
}
h1 {
	font-size: 26px;
	color: hsl(237, 12%, 33%);
	line-height: 60px;
}

.question {
	border-bottom: 1px solid hsla(240, 6%, 50%, 0.205);
}
.question-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.question-title:hover {
	color: hsl(14, 88%, 65%);
}

.question-btn {
	display: block;
}
.down-arrow {
	display: block;
}

.show-text .down-arrow {
	transform: rotate(180deg);
}

button {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
	background-color: inherit;
	border: none;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	margin-left: 5px;
}

.section {
	min-height: 100%;
	display: flex;
	padding: 0;
}

.section-container {
	width: 1440px;
	padding: 140px 20px 100px;
	margin: 0 auto;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.sectoin-accordion {
	max-width: 920px;
	min-height: 350px;
	margin: 0 auto;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #00000038;
}
.section-body {
	background-color: #fff;
}
.section-title {
	text-align: center;
}
.section-content {
	padding: 20px;
}
.section-image {
	padding-top: 140px;
	position: relative;
}
.img-desktop {
	display: none;
}
.img-mobile {
	max-width: 100%;
	position: absolute;
	top: -10px;
	left: calc(50% - 5%);
	transform: translate(-50%, -50%);
}
.shadow-desktop {
	display: none;
}
.shadow-mobile {
	max-width: 100%;
	position: absolute;
	top: 50px;
	left: calc(50% - 2.5%);
	transform: translate(-50%, -50%);
}
.img-box {
	display: none;
}
.question-title {
	line-height: 20px;
	margin: 10px 0;
}
.question-text {
	margin-bottom: 15px;
	line-height: 16px;
}

@media (min-width: 767px) {
	.section {
		min-height: 100%;
		display: flex;
		align-items: center;
		padding: 50px;
	}
	.sectoin-accordion {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
	}
	.section-content {
		flex: 0 0 50%;
		padding: 40px 20px;
		max-width: 370px;
	}
	.section-title {
		text-align: left;
	}
	.section-image {
		flex: 0 0 50%;
		padding: 0;
		overflow: hidden;
	}

	.img-desktop {
		display: block;
		max-width: 80%;
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%, -50%);
	}
	.shadow-desktop {
		display: block;
		max-width: 180%;
		position: absolute;
		top: calc(48% - 5vh);
		left: -20%;
		transform: translate(-50%, -50%);
	}
	.img-mobile {
		display: none;
	}
	.shadow-mobile {
		display: none;
	}
	.img-box {
		z-index: 3;
		display: block;
		max-width: 15%;
		position: absolute;
		top: calc(50% + 30px);
		left: 0;
		transform: translate(-50%, -50%);
	}

	.question-title {
		line-height: 40px;
	}
	.question-text {
		margin-bottom: 15px;
		line-height: 16px;
	}
}

/* hide text */
.question-text {
	display: none;
}
.show-text .question-text {
	display: block;
}
.active .question-title {
	color: hsl(237, 12%, 33%);
	font-weight: 700;
}
