html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: hsl(240, 6%, 50%);
}
h2 {
	font-size: 26px;
	color: hsl(237, 12%, 33%);
}
.container {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	width: 1440px;
	height: 768px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.accordion {
	position: relative;
	flex: 0 1 920px;
	width: 920px;
	background-color: #fff;
	border-radius: 20px;
	z-index: 2;
}


.accordion-flex-container {
	display: flex;
	min-height: 510px;
	width: 920px;
}
	
.accordion::after {
	position: absolute;
	content: "";
	top: 60%;
	left: 1%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	z-index: 3;
	position: absolute;
	background: no-repeat url(/images/illustration-box-desktop.svg);
}

.acordion-block {
	flex: 0 1 50%;
	margin: 0;
}

.block-left {
	position: relative;
}
.block-left::before {
	content: "";
	position: absolute;
	background: no-repeat right 100px bottom -120px / 200% url(images/bg-pattern-desktop.svg);
	width: 100%;
	height: 100%;
}
.block-img {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}

.block-img img {
	max-width: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 30%;
	z-index: 2;
}

.block-right {
}
.questions {
	max-width: 350px;
	height: 100%;
	padding: 50px 0 70px 0;
}
.title {
}
.section-center {
}
.question {
	border-bottom: 1px solid hsl(240, 6%, 50%);
}
.question-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.question-title:hover {
	color: hsl(14, 88%, 65%);
}

.question-btn {
	display: block;
}
.down-arrow {
	display: block;
}

.show-text .down-arrow {
	transform: rotate(180deg);
}

button {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
	background-color: inherit;
	border: none;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
}

/* hide text */
.question-text {
	display: none;
}
.show-text .question-text {
	display: block;
}
.active .question-title {
	color: hsl(237, 12%, 33%);
	font-weight: 700;
}

@media (max-width: 1170px){

	.accordion {
		flex: 0 1 830px;
		width: 830px;
	}

	.accordion-flex-container {
		min-height: 410px;
		width: 770px;
	}
}
@media (max-width: 970px){

	.accordion {
		flex: 0 1 730px;
		width: 730px;
	}
	.accordion-flex-container {
		min-height: 410px;
		width: 770px;
	}
	.questions {
		max-width: 300px;
		height: 100%;
		padding: 50px 0 70px 0;
	}
}
@media (max-width: 830px){

	.accordion {
		flex: 0 1 650px;
		width: 650px;
	}
	.accordion-flex-container {
		min-height: 350px;
		width: 650px;
	}
	.questions {
		max-width: 280px;
		height: 100%;
		padding: 20px 0 40px 0;
	}
}
@media (max-width: 768px){
	.accordion-flex-container{
		flex-direction: column;
	}
	.acordion-block {
		/* height: 50%;
		width: 100%; */
	}
}